@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  ion-button{
    font-family: 'Roboto' , sans-serif;
    font-weight: 300; 
  }

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Espacio entre la tabla y otros elementos */
  }
  
  /* Estilos para las celdas de encabezado */
  th {
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #333; /* Línea inferior */
  }
  
  /* Estilos para las celdas de datos */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .red-section {
    width: 50%;
    float: left;
    background-color: #ff5733; /* Rojo */
    color: white;
    text-align: center;
  }
  
  .blue-section {
    width: 50%;
    float: left;
    background-color: #00bfff; /* Azul */
    color: white;
    text-align: center;
  }