<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Centro Médico Cesfam</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" size="small">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="home-doctor.page.scss">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div style="text-align: center;">
      <ion-item>
        <ion-label position="stacked">Ingresar Fecha de Cita</ion-label>
        <ion-input [(ngModel)]="FechaCita" type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Ingresar Hora de Cita</ion-label>
        <ion-input [(ngModel)]="HoraCita" type="time"></ion-input>
      </ion-item>
      <ion-item>
        <ion-button (click)="insertData()">Ingresar Hora</ion-button>
      </ion-item>
    </div>
  </div>

  <ion-content [fullscreen]="true">
    <ion-item class="full-width-item">
      <ion-select placeholder="Estado" [(ngModel)]="est">
        <ion-select-option *ngFor="let est of estados">{{ est.descripcion }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-button (click)="selectDataOcupadas()">Filtrar</ion-button>
      <ion-button (click)="selectData()">Borrar Filtros</ion-button>
    </ion-item>
    <!-- <div style="text-align: center;">
      <ion-button (click)="selectData()" class="ion-margin">Ver Todas Las Citas</ion-button>
      <ion-button (click)="selectDataOcupadas()" class="ion-margin">Ver Citas Ocupadas</ion-button>
      <ion-button (click)="selectDataDisponibles()" class="ion-margin">Ver Citas Disponibles</ion-button>
    </div> -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID Cita</th>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Estado</th>
            <th>Editar</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cita of doctorData">
            <td>{{ cita.ID_Cita }}</td>
            <td>{{ cita.FechaCita }}</td>
            <td>{{ cita.HoraCita }}</td>
            <td>{{ cita.EstadoCita }}</td>
            <td>
              <ion-button color="primary" (click)="editarCita(cita)"></ion-button>
            </td>
            <td>
              <ion-button color="danger" (click)="confirmacionDelete(cita.ID_Cita)"></ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="mostrarFormularioDeEdicion">
      <ion-item>
        <ion-label position="stacked">Nueva Fecha de Cita</ion-label>
        <ion-input [(ngModel)]="citaEditada.FechaCita" type="date"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nueva Hora de Cita</ion-label>
        <ion-input [(ngModel)]="citaEditada.HoraCita" type="time"></ion-input>
      </ion-item>
      <ion-button (click)="guardarCambios()">Guardar Cambios</ion-button>
    </div>
  </ion-content>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="red-section">
    <ion-toolbar color="danger">
      <ion-title>Tu Salud</ion-title>
    </ion-toolbar>
  </div>
  <div class="blue-section">
    <ion-toolbar color="secondary">
      <ion-title>Nuestra Misión</ion-title>
    </ion-toolbar>
  </div>
</ion-footer>