<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Centro Medico Cesfam</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
<div id="container">

  <div style="border-bottom: solid 1px lightgray; margin-bottom: 20px;"> 

    <ion-button (click)="cerrarSesion()" size="small"> Cerrar Sesión</ion-button>

  </div>


  <div style="max-width: auto; margin:auto;">
    <ion-item>
      <ion-input [(ngModel)]="FechaCita" type="date"></ion-input>
      <ion-input [(ngModel)]="HoraCita" type="time"></ion-input>
    </ion-item>
    <!-- <ion-item>
      <ion-datetime presentation="time" display-format="HH:MM:SS"[(ngModel)]="HoraCita"></ion-datetime>
    </ion-item> -->
    <ion-button size="small" (click)="insertData()" style="margin: bottom 20px;">Create</ion-button>
  </div>

  <!-- <div style="border-top:solid 1px lightgray;">

    <ion-button (click)="selectData()" style="margin: bottom 20px;">Ver</ion-button>

    <div *ngFor="let d of doctorData; let i = index">

      <ion-item>ID_Cita : {{d.ID_Cita}} FechaCita : {{d.FechaCita}} HoraCita : {{d.HoraCita}} 
      <ion-button size="small" (click)="deleteRecord()" style="margin: bottom 20px;">Delete</ion-button>  
    </ion-item>



    </div>

  </div> -->

</div>
</ion-content>

<!-- Lista de citas médicas existentes -->
<ion-button (click)="selectData()" style="margin: bottom 20px;">Ver</ion-button>
<ion-list>
  <ion-item *ngFor="let d of doctorData">
    Fecha: {{ d.FechaCita }} - Hora: {{ d.HoraCita }}
    <ion-buttons slot="end">
      <ion-button (click)="updateData(cita)">Editar</ion-button>
      <ion-button (click)="deleteRecord(d.ID_Cita)">Eliminar</ion-button>
    </ion-buttons>
  </ion-item>
</ion-list>
