<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Datos de Prueba</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Login -->
  <div class="ion-padding-vertical">
    <div style="border-bottom: solid 1px lightgray; margin-bottom: 20px;">
      <ion-button (click)="createTables()" size="small">Crear Tablas</ion-button>
      <ion-button (click)="dropTables()" size="small">Borrar Tablas</ion-button>
      <ion-button (click)="ingresarDatos()" size="small">Ingresar Datos</ion-button>
      <ion-button (click)="cerrarSesion()" size="small">Ingresar Datos</ion-button>
    </div>
  </div>
</ion-content>