<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title>Datos de Prueba</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="datos-prueba.page.scss">
</ion-header>


<ion-content [fullscreen]="true">
  <br>
  <div class="button-container">
    <ion-button (click)="createTables()" expand="full">Crear Tablas</ion-button>
  </div>
  <br>
  <div class="button-container">
    <ion-button (click)="dropTables()" expand="full">Borrar Tablas</ion-button>
  </div>
  <br>
  <div class="button-container">
    <ion-button (click)="ingresarDatos()" expand="full">Ingresar Datos</ion-button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="red-section">
    <ion-toolbar color="danger">
      <ion-title>Tu Salud</ion-title>
    </ion-toolbar>
  </div>
  <div class="blue-section">
    <ion-toolbar color="secondary">
      <ion-title>Nuestra Misión</ion-title>
    </ion-toolbar>
  </div>
</ion-footer>