<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Login -->
  <div>
    <div style="border-bottom: solid 1px lightgray; margin-bottom: 20px;">
      <ion-button (click)="createOpenDatabase()" size="small">Create/Open Database</ion-button>
    </div>
    <div style="margin: 20px;">
      <ion-item>
        <ion-input placeholder="Ingrese su Run" [(ngModel)]="run"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese su Contraseña" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese su Nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese sus Apellidos" [(ngModel)]="apellidos"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese su Fecha de Nacimiento" [(ngModel)]="edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese su Fecha de Nacimiento" [(ngModel)]="fecha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese su Direccion" [(ngModel)]="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese su Telefono (9 9999 9999)" [(ngModel)]="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese su Correo" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Ingrese su Genero" [(ngModel)]="genero"></ion-input>
      </ion-item>
      <ion-button size="small" (click)="insertData()" style="margin-bottom: 20px;">Registrar</ion-button>
    </div>
    <div style="border-top: solid 1px lightgray;">
      <ion-button (click)="selectData()" style="margin-bottom: 20px;margin-top: 20px;">select Data</ion-button>
      <div *ngFor="let b of usuarioData; let i = index">
        <div>Usuario: {{b.run}}</div>
        <div>Contraseña: {{b.password}}</div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Centro Medico Cesfam</ion-title>
  </ion-toolbar>
</ion-footer>