<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Login -->
  <div>
    <div style="border-bottom: solid 1px lightgray; margin-bottom: 20px;">
      <ion-button (click)="createOpenDatabase()" size="small">Create/Open Database</ion-button>
    </div>
    <ion-title>Por favor, rellene sus datos</ion-title>
    <div style="margin: 20px;">
      <ion-item>
        <ion-input type="text" placeholder="Run" [(ngModel)]="run"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Apellidos" [(ngModel)]="apellidos"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Edad" [(ngModel)]="edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Fecha de Nacimiento" [(ngModel)]="fecha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Direccion" [(ngModel)]="direccion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Telefono (9 9999 9999)" [(ngModel)]="telefono"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Correo" [(ngModel)]="correo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select placeholder="Genero" [(ngModel)]="genero">
          <ion-select-option value="masculino">Masculino</ion-select-option>
          <ion-select-option value="femenino">Femenino</ion-select-option>
          <ion-select-option value="prefiero no decirlo">Prefiero no Decirlo</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button size="small" (click)="insertData()" style="margin-bottom: 20px;">Registrar</ion-button>
    </div>
    <div style="border-top: solid 1px lightgray;">
      <ion-button (click)="selectData()" style="margin-bottom: 20px;margin-top: 20px;">select Data</ion-button>
      <div *ngFor="let b of usuarioData; let i = index">
        <div>Usuario: {{b.run}}</div>
        <div>Contraseña: {{b.password}}</div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Centro Medico Cesfam</ion-title>
  </ion-toolbar>
</ion-footer>