<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title>Medicos Cesfam</ion-title> 
  </ion-toolbar>
  <link rel="stylesheet" href="ver.page.scss">
</ion-header>

<ion-content>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Documento</th>
          <th>Formato</th>
          <th>Fecha de Creación</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let document of nombresDocumentos; let i = index">
          <td>{{ nombresDocumentos[i] }}</td>
          <td>{{ TipoDocumento[i] }}</td>
          <td>{{ fechasCreacion[i] }}</td>
          <td>
            <ion-button expand="block" (click)="setOpen(true,i)">Ver Documento</ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ion-button (click)="toggleContent()">Agregar Documento</ion-button>
  <div *ngIf="showContent">
    <ion-item>
      <ion-label position="floating">Nombre del Archivo</ion-label>
      <ion-input type="text" [(ngModel)]="nombreArchivo" placeholder="Ingrese el Nombre del Archivo" (ngModelChange)="validarNombreArchivo()"></ion-input>
    </ion-item>
    <div *ngIf="!nombreArchivoValido" style="color: red; margin-top: 5px;">Por favor, ingrese el nombre del archivo.</div>
    <ion-item>
      <input type="file" (change)="onImageSelected($event)" accept="image/*" />
    </ion-item>
    <ion-button [disabled]="!imageBase64" expand="full" (click)="uploadImage()">Subir Documento</ion-button>
  </div>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Ficha Medico</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setClose(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item *ngFor="let document of documents; let i = index">
          <iframe [src]="document" width="100%" height="1000"></iframe>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer class="ion-no-border">
  <div class="red-section">
    <ion-toolbar color="danger">
      <ion-title>Tu Salud</ion-title>
    </ion-toolbar>
  </div>
  <div class="blue-section">
    <ion-toolbar color="secondary">
      <ion-title>Nuestra Misión</ion-title>
    </ion-toolbar>
  </div>
</ion-footer>