<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title class="title-left">
      Horas Disponibles
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-select placeholder="Especialidad" [(ngModel)]="esp">
      <ion-select-option *ngFor="let e of especialidades">{{ e.descripcion }}</ion-select-option>
    </ion-select>
    <ion-select placeholder="Doctor" [(ngModel)]="doc">
      <ion-select-option *ngFor="let d of doctores">{{ d.nombre }} {{ d.apellido }}</ion-select-option>
    </ion-select>
    <ion-button (click)="filtrar()">Filtrar</ion-button>
    <ion-button (click)="mostrarCita()">Borrar Filtros</ion-button>
  </ion-item>
  <table>
    <thead>
      <tr>
        <th>ID Cita</th>
        <th>Especialidad</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Doctor</th>
        <th>Tomar Cita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of citaData">
        <td>{{ c.id_cita }}</td>
        <td>{{ c.esp }}</td>
        <td>{{ c.FechaCita }}</td>
        <td>{{ c.HoraCita }}</td>
        <td>{{ c.nombre }} {{ c.apellido }}</td>
        <td>
          <ion-button (click)="tomarHora(c.id_cita)"></ion-button>
        </td>
      </tr>
    </tbody>
  </table>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Centro Medico Cesfam</ion-title>
  </ion-toolbar>
</ion-footer>