.title-left {
  text-align: left;
  width: 100%; /* Asegura que el título ocupe todo el ancho disponible */
}

.logo-image {
  max-width: 50px; /* Establece el ancho máximo de la imagen */
  max-height: 50px; /* Establece la altura máxima de la imagen */
  margin-left: 10px; /* Establece un margen izquierdo para separar la imagen del título */
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; /* Espacio entre la tabla y otros elementos */
}

/* Estilos para las celdas de encabezado */
th {
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #333; /* Línea inferior */
}

/* Estilos para las celdas de datos */
td {
  border: 1px solid #ddd;
  padding: 8px;
}

/* Estilos para botones dentro de las celdas */
ion-button {
  margin: 0; /* Elimina el margen predeterminado de los botones */
  padding: 5px 10px;
}