<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title class="title-left">
      Ingrese Especialidad
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-img src="assets/imagenes/Cesfam.jpg" class="logo-image"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Especialidad:</ion-label>
    <ion-select [(ngModel)]="especialidadSeleccionada">
      <ion-select-option *ngFor="let especialidad of especialidades" [value]="especialidad">
        {{ especialidad }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Botón "Siguiente" que solo se muestra cuando especialidadSeleccionada tiene un valor -->
  <ion-button *ngIf="especialidadSeleccionada" expand="full" (click)="irAEleccionFechaHora()">Siguiente</ion-button>
</ion-content>





