<ion-header>
  <ion-toolbar>
    <ion-title>
      Editar Hora Médica
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Nueva Fecha de Cita</ion-label>
    <ion-input [(ngModel)]="cita.FechaCita" type="date"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nueva Hora de Cita</ion-label>
    <ion-input [(ngModel)]="cita.HoraCita" type="time"></ion-input>
  </ion-item>
  <ion-button (click)="guardarCambios()">Guardar Cambios</ion-button>
</ion-content>
