<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Actualizar Datos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div style="border-bottom: solid 1px lightgray; margin-bottom: 20px;"></div>
      <ion-input placeholder="Nombre" [(ngModel)]="nombre" [value]="nombre">Nombres</ion-input>
      <ion-input placeholder="Apellido" [(ngModel)]="apellido" [value]="apellido">Apellidos</ion-input>
      <ion-input placeholder="Direccion" [(ngModel)]="direccion" [value]="direccion">Direccion</ion-input>
      <ion-input placeholder="Correo" [(ngModel)]="correo" [value]="correo">Correo</ion-input>
      <ion-input placeholder="Telefono" [(ngModel)]="telefono" [value]="telefono">Telefono</ion-input>
    <div style="margin: 20px;">
      <ion-button size="small" (click)="updateData()" style="margin-bottom: 20px;">Actualizar Datos</ion-button>
    </div>
</ion-content>