<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botón de retroceso u otros botones a la izquierda -->
    </ion-buttons>
    <ion-title class="title-left">
      Seleccione un Profesional
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-img src="assets/imagenes/Cesfam.jpg" class="logo-image"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<!--
  <div style="border-top: solid 1px lightgray;">
    <div *ngFor="let b of medicoData; let i = index">
      <div>Nombre Medico: {{b.nombre}} {{b.apellido}}</div>

    </div>

  </div>
  -->
  <!-- <ion-item>
    <ion-label>Médico:</ion-label>
    <ion-select [(ngModel)]="medicoSeleccionado">
      <ion-select-option *ngFor="let b of medicoData; let i = index">
        <div> {{b.nombre}} {{b.apellido}}</div>
      </ion-select-option>
    </ion-select>
  </ion-item>

   <ion-button expand="full" (click)="ingresar()">Ingresar</ion-button>

</ion-content> -->
