<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title class="title-left">
      Medicacion
    </ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="medicacion.page.scss">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <div #content class="table-container">
      <table id="season-table">
        <thead>
          <tr>
            <th>Medicamento</th>
            <th>Fecha Inicio</th>
            <th>Hora Inicio</th>
            <th>Fecha Termino</th>
            <th>Intervalo Horas</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let med of medicamentoData">
            <td>{{ med.descripcion }}</td>
            <td>{{ med.fechainicio }}</td>
            <td>{{ med.hora }}</td>
            <td>{{ med.fechatermino }}</td>
            <td>{{ med.intervalo }}</td>
            <td>
              <ion-button color="danger" (click)="eliminarMed(med.id)"></ion-button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ion-item>
  <div class="button-container">
    <ion-button (click)="toggleContent()" expand="full">Programar Notificacion</ion-button>
  </div>
  <div *ngIf="showContent">
    <ion-item>
      <ion-label position="stacked">Fecha de Inicio</ion-label>
      <ion-input type="date" [(ngModel)]="selectedDate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Fin</ion-label>
      <ion-input type="date" [(ngModel)]="selectedEndDate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Hora de Toma</ion-label>
      <ion-input type="time" [(ngModel)]="selectedTime"></ion-input>
    </ion-item>

    <ion-item class="full-width-item">
      <ion-select placeholder="Medicamento" [(ngModel)]="med">
        <ion-select-option *ngFor="let med of medicamentos">{{ med.descripcion }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Intervalo de Notificación (horas)</ion-label>
      <ion-input type="number" [(ngModel)]="notificationInterval"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="scheduleNotification()">Ingresar Notificacion</ion-button>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="red-section">
    <ion-toolbar color="danger">
      <ion-title>Tu Salud</ion-title>
    </ion-toolbar>
  </div>
  <div class="blue-section">
    <ion-toolbar color="secondary">
      <ion-title>Nuestra Misión</ion-title>
    </ion-toolbar>
  </div>
</ion-footer>