.table-container {
    max-width: 100%;
    overflow: auto;
    /* Agrega una barra de desplazamiento horizontal si la tabla es demasiado ancha */
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    /* Espacio entre la tabla y otros elementos */
}

/* Estilos para las celdas de encabezado */
th {
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #333;
    /* Línea inferior */
}

/* Estilos para las celdas de datos */
td {
    border: 1px solid #ddd;
    padding: 8px;
}

/* Estilos para botones dentro de las celdas */
ion-button {
    margin: 0;
    /* Elimina el margen predeterminado de los botones */
    padding: 5px 10px;
}
.red-section {
    width: 50%;
    float: left;
    background-color: #ff5733; /* Rojo */
    color: white;
    text-align: center;
  }
  
  .blue-section {
    width: 50%;
    float: left;
    background-color: #00bfff; /* Azul */
    color: white;
    text-align: center;
  }