<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Centro Médico Cesfam</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" size="small">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="home.page.scss">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="12">
      <ion-button (click)="uploadPdf()" size="small"> Upload PDF </ion-button>
      <ion-button (click)="verPdf()" size="small"> VER PDF </ion-button>
    </ion-col>
  </ion-row>

  <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>ID Cita</th>
        <th>Especialidad</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Doctor</th>
        <th>Cancelar Cita</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of citaData">
        <td>{{ c.id_cita }}</td>
        <td>{{ c.especialidad }}</td>
        <td>{{ c.FechaCita }}</td>
        <td>{{ c.HoraCita }}</td>
        <td>{{ c.nombre }} {{ c.apellido }}</td>
        <td>
          <ion-button color="danger" (click)="cancelarCita(c.id_cita)"></ion-button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cerrar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>


</ion-content>

<ion-footer class="ion-no-border">
  <div class="red-section">
    <ion-toolbar color="danger">
      <ion-title>Tu Salud</ion-title>
    </ion-toolbar>
  </div>
  <div class="blue-section">
    <ion-toolbar color="secondary">
      <ion-title>Nuestra Misión</ion-title>
    </ion-toolbar>
  </div>
</ion-footer>

