<ion-header>
  <ion-toolbar>
    <ion-title>
      Filtrar Citas por Fecha
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Selecciona una Fecha</ion-label>
    <input type="date" [(ngModel)]="selectedDate">
  </ion-item>

  <!-- Botón para filtrar citas por fecha -->
  <ion-button (click)="filtrarCitas()" expand="full">Filtrar Citas</ion-button>

  <!-- Lista de citas filtradas -->
  <ion-list *ngIf="citasFiltradas.length > 0">
    <ion-item *ngFor="let cita of citasFiltradas">
      ID Cita: {{ cita.ID_Cita }} - Doctor: {{ cita.NombreDoctor }} {{ cita.ApellidoDoctor }} - Fecha: {{ cita.FechaCita }} - Hora: {{ cita.HoraCita }}
      <ion-buttons slot="end">
        <ion-button (click)="editarCita(cita)">Editar</ion-button>
        <ion-button (click)="eliminarCita(cita.ID_Cita)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Formulario de edición de cita -->
  <ion-item *ngIf="citaEditada">
    <ion-label>Editar Cita</ion-label>
    <ion-input [(ngModel)]="citaEditada.FechaCita" type="date"></ion-input>
    <ion-input [(ngModel)]="citaEditada.HoraCita" type="time"></ion-input>
    <ion-button (click)="guardarCambios()" expand="full">Guardar Cambios</ion-button>
  </ion-item>
</ion-content>
