@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

  ion-button{
    font-family: 'Roboto' , sans-serif;
    font-weight: 300; 
  }
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // background-color: white;
  border: 1px solid #ccc;
  padding: 100px;
  z-index: 1000;
}

ion-select {
  margin: 10px 0; /* Aumenta el espacio entre el select y los botones */
}

.button-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  align-items: center; /* Centra verticalmente los botones */
}

button {
  flex: 1; /* Hace que los botones ocupen un espacio igual */
  margin: 5px; /* Espacio entre los botones */
  padding: 10px 20px; /* Espaciado interior de los botones */
  text-align: center; /* Centra el texto dentro de los botones */
}

button[color="danger"] {
  background-color: red; /* Cambia el color de fondo del botón a rojo */
  color: white; /* Cambia el color del texto a blanco */
}

button[color="primary"] {
  background-color: #007bff; /* Cambia el color de fondo del botón a azul (color primario) */
  color: white; /* Cambia el color del texto a blanco */
}

.full-width-item {
  width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  margin: 0; /* Sin márgenes */
  position: center;
}

/* Estilos para el modo claro */
@media (prefers-color-scheme: light) {
  .modal {
    background-color: white;
    color: black;
  }
}

/* Estilos para el modo oscuro */
@media (prefers-color-scheme: dark) {
  .modal {
    background-color: #333;
    color: white;
  }
}

.table-container {
  max-width: 100%;
  overflow: auto; /* Agrega una barra de desplazamiento horizontal si la tabla es demasiado ancha */
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

ion-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Espacio entre la tabla y otros elementos */
  }
  
  /* Estilos para las celdas de encabezado */
  th {
    text-align: left;
    padding: 8px;
    border-bottom: 2px solid #333; /* Línea inferior */
  }
  
  /* Estilos para las celdas de datos */
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  /* Estilos para botones dentro de las celdas */
  ion-button {
    margin: 0; /* Elimina el margen predeterminado de los botones */
    padding: 5px 10px;
  }
  .red-section {
    width: 50%;
    float: left;
    background-color: #ff5733; /* Rojo */
    color: white;
    text-align: center;
  }
  
  .blue-section {
    width: 50%;
    float: left;
    background-color: #00bfff; /* Azul */
    color: white;
    text-align: center;
  }
  