<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Centro Médico Cesfam</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()" size="small">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12" class="ion-text-center">
      <ion-item>
        <ion-label>Seleccione una Fecha</ion-label>
        <input type="date" [(ngModel)]="selectedDate">
      </ion-item>
    </ion-col>
    <ion-col size="12" class="ion-text-center">
      <ion-button (click)="filtrarCitas()" expand="full" class="ion-margin">Filtrar Todas las Citas</ion-button>
      <ion-button (click)="filtrarCitasOcupadas()" expand="full" class="ion-margin">Filtrar Citas Ocupadas</ion-button>
      <ion-button (click)="filtrarCitasDisponibles()" expand="full" class="ion-margin">Filtrar Citas Disponibles</ion-button>
    </ion-col>
  </ion-row>

  <!-- Lista de citas filtradas -->
  <ion-list *ngIf="citasFiltradas.length > 0">
    <ion-item *ngFor="let cita of citasFiltradas">
      ID Cita: {{ cita.ID_Cita }} - Doctor: {{ cita.NombreDoctor }} {{ cita.ApellidoDoctor }} - Fecha: {{ cita.FechaCita }} - Hora: {{ cita.HoraCita }}
      <ion-buttons slot="end">
        <ion-button color="primary" (click)="editarCita(cita)">Editar</ion-button>
        <ion-button color="danger" (click)="eliminarCita(cita.ID_Cita)">Eliminar</ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <!-- Formulario de edición de cita -->
  <ion-item *ngIf="citaEditada">
    <ion-label>Editar Cita</ion-label>
    <ion-input [(ngModel)]="citaEditada.FechaCita" type="date"></ion-input>
    <ion-input [(ngModel)]="citaEditada.HoraCita" type="time"></ion-input>
    <ion-button (click)="guardarCambios()" expand="full">Guardar Cambios</ion-button>
  </ion-item>
</ion-content>
